﻿@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
/*Theme Colors*/
/*bootstrap Color*/
/*Normal Color*/
/*Border radius*/
/*Preloader*/
.preloader {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 99999;
    background: #fff;
}

    .preloader .cssload-speeding-wheel {
        position: absolute;
        top: calc(50% - 3.5px);
        left: calc(50% - 3.5px);
    }

.label {
    letter-spacing: .05em;
    padding: 2px 6px 2px;
}
/* This is for popins font for firefox */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v1/2fCJtbhSlhNNa6S2xlh9GyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* This is for popins font for firefox */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v1/UGh2YG8gx86rRGiAZYIbVyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* This is for popins font for firefox */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v1/yQWaOD4iNU5NTY0apN-qj_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*Just change your choise color here its theme Colors*/
body {
    background: #fff;
}
body.modal-open {
    overflow-y: hidden;    
}
/********* Top Header Part *********/
.logo i {
    color: #ffffff;
}

.top-left-part .light-logo {
    display: inline-block;
}

.top-left-part .dark-logo {
    display: none;
}

.navbar-header {
    background: #333;
}

.navbar-top-links > li > a {
    color: #ffffff;
}
/********* Sidebar navigation *********/
.side-mini-panel ul.mini-nav > li:hover > a,
.side-mini-panel ul.mini-nav > li.selected > a {
    border-left: 3px solid #fb9678;
}

.sidebar-menu > li > a:hover {
    color: #fb9678;
}
/********* themecolor *********/
.bg-theme {
    background-color: #fb9678 !important;
}

.bg-theme-dark {
    background-color: #01c0c8 !important;
}
/*Chat widget*/
.chat-list .odd .chat-text {
    background: #fb9678;
}
/*Button*/
.btn-custom {
    background: #fb9678;
    border: 1px solid #fb9678;
    color: #ffffff;
}

    .btn-custom:hover {
        background: #fb9678;
        opacity: 0.8;
        color: #ffffff;
        border: 1px solid #fb9678;
    }
/*Custom tab*/
.customtab li.active a,
.customtab li.active a:hover,
.customtab li.active a:focus {
    border-bottom: 2px solid #fb9678;
    color: #fb9678;
}

.tabs-vertical li.active a,
.tabs-vertical li.active a:hover,
.tabs-vertical li.active a:focus {
    background: #fb9678;
    border-right: 2px solid #fb9678;
}
/*Nav-pills*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background: #fb9678;
    color: #ffffff;
}
body {
    color: #585858;
    font-weight: 400;
}
.thin-steps-no-bg .column-step.active .step-number, .thin-steps-no-bg .step-number {
    color: #ff9800;
    border: 1px solid #ff9800;    
}
.table-content {
    position: relative;
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}
.color-bordered-table.muted-bordered-table thead th {
    background-color: #98a6ad !important;    
}
.table-center-text {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.fw4500{
    font-weight:500 !important;
}
.nocase{
    text-transform:none !important;
}
.side-mini-panel {
    transition: top 0.3s ease-in-out;
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out;
    -o-transition: top 0.3s ease-in-out;
    -ms-transition: top 0.3s ease-in-out;
}
.nav-top {
    top: 0;
    transition: top 0.3s ease-in-out;
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out;
    -o-transition: top 0.3s ease-in-out;
    -ms-transition: top 0.3s ease-in-out;
}

.top-up {
    top: -2.5em;
    transition: top 0.3s ease-in-out;
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out;
    -o-transition: top 0.3s ease-in-out;
    -ms-transition: top 0.3s ease-in-out;
}

.nav-up {
    top: -5.5em;
    transition: top 0.3s ease-in-out;
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out;
    -o-transition: top 0.3s ease-in-out;
    -ms-transition: top 0.3s ease-in-out;
}

.sidebar-menu > li > a.mnpurchase {
    background: #f2f2f2;
    border-left: 5px solid #ab8ce4;
}
.sidebar-menu > li > a.mnsales {
    background: #f2f2f2;
    border-left: 5px solid #ff6849;
}
.sidebar-menu > li > a.mnitem {
    background: #f2f2f2;
    border-left: 5px solid #fec107;
}

.sidebar-menu > li > a.mnAmntd {
    background: #f2f2f2;
    border-left: 5px solid #5bc0de;
}

.sidebar-menu > li > a.mnewaybill {
    background: #f2f2f2;
    border-left: 5px solid #666;
}

span.menu-description {
    display: block;
    font-size: 10px;
    margin-bottom: 0;
    line-height: 1.3;
    white-space: normal;
    padding: 6px 0 2px;
}
.ajax-loading, .ajax-loading-model {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255,.8);
    z-index: 1;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.5s infinite ease-in-out;
    animation: load7 1.5s infinite ease-in-out;
}

.loader {
    color: #00c292;
    font-size: 7px;
    margin: 0px auto;
    position: relative;
    top: 50%;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

    .loader:before,
    .loader:after {
        content: '';
        position: absolute;
        top: 0;
    }

    .loader:before {
        left: -3.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .loader:after {
        left: 3.5em;
    }

@-webkit-keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
.btn-sm {
    padding-top: 8px;
}
.btndefaultblock {
    padding: 1px 10px !important;    
}
.invoic_filing.btn-outline {
    background-color: #edf1f5;
}
.text-muted {
    color: rgba(21,21,21,.5) !important;
    font-weight:400;
}
.opacity2 {
    opacity: .2;
}
.font-14 {
    font-size: 14px !important;
}
.form-control {
    border: 1px solid #dfdfdf;
}
textarea:focus,
.form-control.select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(21, 21, 21, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(21, 21, 21, 0.2);
    outline: 0 none;
}
.label-dark {
    background-color: #333;
}
.label-grey {
    background-color: rgba(21,21,21,.5);    
}
.label-grey2 {
    background-color: rgba(21,21,21,.6);    
}
.white-box.smallbox {
    padding: 15px;
}


.select2-container--default .select2-selection--single .select2-selection__rendered {
    
    font-weight: 400;
}
.fw500 {
    font-weight: 500 !important;
}
th.tblerror_header {
    background-color: #ff7979 !important;
    color:#fff !important
}
/*.form-material .form-control::-webkit-input-placeholder, .form-material .form-control::-moz-placeholder, .form-material .form-control:: -ms-input-placeholder,
.form-material .form-control::-moz-placeholder {
    font-weight: 200;
    transition: all 100ms linear 0s;
    -webkit-transition: all 100ms linear 0s;
    -moz-transition: all 100ms linear 0s;
    -ms-transition: all 100ms linear 0s;
    -o-transition: all 100ms linear 0s;
}

.form-material .form-control.focus, .form-material .form-control:focus, .form-material .form-control:active {
    transition: all 100ms linear 0s;
    -webkit-transition: all 100ms linear 0s;
    -moz-transition: all 100ms linear 0s;
    -ms-transition: all 100ms linear 0s;
    -o-transition: all 100ms linear 0s;
    font-weight: 900;
    font-size: 18px;
}*/
.sidebar-menu li > a.active {
    font-weight: 100;
    background: #dfdfdf;
}
.sidebar-menu .sub-menu > li > a.active {
    font-weight: 100;
    background: #dfdfdf;
}

.grid .gstinblock {
    position: relative;
    display: block;
    background-color: #fff;
    margin-bottom: 15px;
    cursor: default;
}
.gstin-box hr {
    margin: 5px 0 10px 0;
}
    .grid .gstinblock .gstin-box {
        padding: 25px;
    }

.gstin-box .box-title {
    margin:0px 0 10px 0;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;    
}
    .gstin-box .box-title:last-child {
        margin:0;
    }


.grid .gstinblock h1.name, h1.name {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    line-height: 20px;
}
    .grid .gstinblock h1.name::after {
        position: absolute;
        content: "\f0f7";
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        left: 0px;
        top: 0px;
        font-size: 30px;
        opacity: .1;
    }

.bg-dark {
    background-color: rgba(21,21,21,.8);
}

.bg-light {
    background-color: #dfdfdf;
}
.bg-yellow {
    background-color: rgba(254,193,7,.4);
}
.dsel {
    background-color: #dfdfdf;
}

.sidebar-menu .select2-container--default .select2-selection--single {
    background-color: #dfdfdf;
    border: 0px none;
    border-radius: 0px;
}

.sidebar-menu .select2-container .select2-selection--single {
    height: 50px;
}

.sidebar-menu .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
}

.sidebar-menu .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
    right: 20px;
}
.ddlbusiness {
position:relative;
}
.dsel2 {
    background-color: #f2f2f2;
}
.menu-title {
    margin-bottom: 0px;
    background: #f6f9fb;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(120,130,140,.13);
    padding: 12.5px 15px;
}
.mini-nav .dashboard .menu-title {
    margin: 0px;    
}

select.dsel:not([size]):not([multiple]),
select.dsel2:not([size]):not([multiple]) {
    height: calc(5.60rem);
}

.tabs-style-line.salestab nav li.tab-current a {
    box-shadow: inset 0 -2px #ab8ce4;
    color: #ab8ce4;
}

.tabs-style-line nav a {
    font-weight: 400;
}

.sttabs nav a span {
    font-size: 13px;
}

.tabs-style-line nav a {
    font-weight: 400;
}

.returntab section {
    padding: 0;
}
.tabs-style-line nav a {    
    line-height: 14px;
}
.sttabs.invvalidate nav ul li.tab-current {
    background-color: rgba(21,21,21,.1);
}
.helpmenu {
    cursor: pointer;
    vertical-align: middle;
}

    .helpmenu.bg {
        background-color: #212121;
    }

    .helpmenu:hover, .helpmenu:focus, .helpmenu:active {
        background-color: #212121;
    }
.sttabs {
    font-size:13px;
    font-weight: 400;
}
.popover {
    border: 0px none;
    -webkit-box-shadow: 0 0px 22px rgba(0,0,0,.4);
    box-shadow: 0 0px 22px rgba(0,0,0,.4);
    margin: 0px;
    padding: 0px;
}

    .popover.bottom > .arrow:after {
        border-bottom-color: #fec107;
    }

.popover-title {
    background-color: #fec107;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}


.table .form-control {
    padding: 0px !important;
    height: 35px !important;
}
.dropify-wrapper input {
    width: 100% !important;
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
    white-space: nowrap;
}
.table thead .secondFilter th{
    padding:5px;
}

.dataTables_wrapper label {
    font-weight: 400 !important;
    margin: 0;
}

.dataTables_length select.form-control {
    width: auto;
    display: inherit;
    height:30px !important;
    padding:5px;
}

.dataTables_filter input.form-control {
    width: auto;
    display: inherit;
    background-color: #f2f2f2;
}
a.dt-button, button.buttons-collection, div.dt-button {
    background: #5bc0de !important;
    color: #fff !important;
    border-color: #5bc0de !important;
}
table.dataTable thead th select, table.dataTable tfoot th select {
    float: left;
}

.table > thead > tr > th {
    background-color: #f2f2f2;
}

table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\e150";
}

table.dataTable thead .sorting:after {
    color: rgba(50,50,50,1);
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    opacity: 1;
    bottom: 15px;
}
.bg-title {    
    position: relative;
}
#searchcontrol input{
    background-color:#f2f2f2;
}
.dropdown-menu > li > a:hover{
    background-color:#dfdfdf;
}
.lblexplain {
    vertical-align: middle;    
}
.checkbox label::before, .radio label::before {
    border: 1px solid rgba(120,130,140,.6);
}
.table > thead > tr > th {
    vertical-align: middle; 
}
.color-table.muted-table thead th {
    background-color: #eee !important;
    color: #444;
    font-size: 13px;
    text-align:center;
}
.addinvoice{
    background-color:#fff;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #dfdfdf;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle; 
}

.addinvoice th {
    font-weight:600;
}
.addinvoice select.form-control:not([size]):not([multiple]) {
    height: initial;
}
.addinvoice tr {
    border-bottom: 1px solid #f3f3f3;
}
.addinvoice tbody > tr > td {
    color: #333;
    padding: 0px;
    font-weight: 400;
    font-size: 12px;
}
.addinvoice .form-control {
    font-weight: 400;
    font-size: 12px;
    border: 1px solid #fff;
}
.addinvoice td.item_description {
    min-width: 200px;
}
.addinvoice td.serial_number {
    text-align:center;  
    min-width:60px;    
}
.addinvoice td.item_description .form-control {
    color: #333;
    font-size: 12px;
    font-weight: 400;
}
.addinvoice td.item_type .form-control {
    padding:5px;
}
.addinvoice td.item_type select {
    font-size: 12px;
    min-width: 80px;
    font-weight: 400;
}
.addinvoice td.qty_number, .addinvoice td.unit_rate {
    min-width: 100px;
}
.addinvoice td.serial_number, .addinvoice td.cgst, .addinvoice td.sgst, .addinvoice td.igst, .addinvoice td.serial_number {
    background-color: #eee;
}
.addinvoice .form-control:disabled {
    background-color: #eee;
}
.addinvoice td.cgst, .addinvoice td.sgst, .addinvoice td.igst, .addinvoice td.cess_rate, .addinvoice td.cess, .addinvoice td.total_value {
    min-width: 80px;
}
.addinvoice .calculate-row input {
    text-align: right;
    background-color: rgba(254,193,7,.4) !important;
}

.tabs-style-line.salestab nav li a.invalid_records {
    box-shadow: inset 0 -2px #fb9678;
    color: #fb9678;
}
.tabs-style-line.salestab nav li a.valid_records {
    box-shadow: inset 0 -2px #00c292 !important;
    color: #00c292 !important;
}
table.upload_cdnote{
    background-color:#fff;
}
.grand-total input {
    background-color: rgba(254,193,7,.01) !important;
    border-color:transparent;
        font-size:20px;
    font-weight: 600;
}
.sales-report {    
    margin-top: 0px;
}
.timeline > li > .timeline-panel {    
    border: 1px solid #dfdfdf; 
}
.timeline > li > .timeline-panel:before {
        border-left: 8px solid #999;
    }
.stepstogstn .tab-content {
    
    padding: 20px 60px;
    
}
.stepstogstn .tabs-vertical {
    width: 250px;
    border-right: 1px solid #dfdfdf;
    
}
.customvtab .tabs-vertical li.active a, .customvtab .tabs-vertical li.active a:focus, .customvtab .tabs-vertical li.active a:hover {
    background: #f2f2f2;
    border: 0;
    border-right: 4px solid #00c292;
    
}

.viewhidestyle{
    display:none;
}
.gstreturnperiod {
    /* float: right; */
    /* display: block; */
    /* margin-top: -20px; */
    position: absolute;
    right: 20px;
    top: 0;
    height: 100%;
    /* vertical-align: middle; */
    width: 120px;
}
@media (max-width: 420px) {
    .gstreturnperiod {
        position: relative;
        display: block;
        margin: 0;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0; 
        width: auto;
    }
}    
.returnperiod {
    /* max-width: 100px; */
    border: 0px none;
    font-weight: 600;
    height: 30px;
    width: 100%;
    background: rgba(0,194,146,.9) !important;
    color: #fff;
    position:relative;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
}
    
.returnperiod::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    font-size:12px;
}
.returnperiod::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    font-size: 12px;
}

.returnperiod:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    font-size: 12px;
}
.returnperiod::-ms-input-placeholder { /* IE Edge */
    color: #fff;
    font-size: 12px;
}
.returnperiod:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    font-size: 12px;
}
.gstreturnperiod:after {
    font-size: 22px;
    pointer-events: none;
    line-height: 8px;
    position: absolute;
    right: 8px;
    top: 50%;
    color: #fff;
    content: "\f0dd";
    font-family: fontawesome;
}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
    border-radius: 0px !important;
    content: "\e606" !important;
    background-color: #4c5667 !important;
    font-family: simple-line-icons !important;
    font-size: 8px !important;
    font-weight: 900;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
    background-color: #fb9678 !important;
    content: "\e604" !important;
}
.left-div {
    display: inline-block;    
    text-align: left;        
    border-radius: 3px;
    margin: 0px;
    vertical-align: top;
}
    .left-div span.label {
        display: block;
        margin-bottom: 5px;
        padding: 4px 8px 4px;
    } 
.right-div {
    display: inline-block;    
    text-align: left;            
    margin: 0 10px;
}

.rtperiod {
    margin-top: -10px;
}
table.dataTable thead .sorting_disabled {
    background: 0 0
}
.gstin-box .btn-group .btn .btn-label {
    background: rgba(0,0,0,.05);
    display: inline-block;
    margin: -6px 6px -6px -10px;
    padding: 7px 11px;
}
.lblrperiod {
    font-weight: 600;
    position: relative;
    display: block;
    padding: 10px 5px 5px 5px;
    text-transform: uppercase;
    font-size: 13px;
}
#tblPurchaseInvoice .form-control{
    height:auto !important;
    padding:4px 8px !important;
}
.awlight {
    background: #fff3cd;
    color: #8a6d3b;
    border-color: #fff3cd;
}
.alert blockquote{
    font-size:14px;
}
.btn-default.dashboard-link:hover, .btn-default.dashboard-link:active, .btn-default.dashboard-link:focus {
    background: #fff3cd;
    border-color: #fff3cd;
}
.btn-returntype {
    background: #fff3cd;
}
.btn-returntypeq {
    background: #ffd9ce;
}
.btn-returntypec {
    background: #e3d3ff;
}
.otpbtn{
    background-color:#f2f2f2 !important;
    margin-left:0px;
    padding-left:10px !important;
}
a.btngetotp {
    display: block;
    font-size: 11px;
    color: #212121;
    margin: 0 8px 8px 0;
    position: relative;
    border-bottom: 1px solid #fff;
    transition: all .5s;
    -webkit-transition: all .5s;
}
    a.btngetotp:hover {
        border-bottom: 1px solid #212121;
        transition: all .5s;
        -webkit-transition: all .5s;
    }
.listtable .dataTables_length {
    margin-left: 20px;
    margin-bottom: 20px;
}
.listtable .dataTables_filter {
    margin-right: 20px;
    margin-bottom:20px;
}
.listtable .dt-buttons {
    margin-left: 20px;
    margin-bottom: 20px;
}
    .listtable .dt-buttons .btn {
        padding: .5rem .8rem
    }
    .listtable .dt-buttons .buttons-page-length {
        background: #dfdfdf !important;
        color: rgb(49, 43, 43,.8) !important;
        border-color: #f2f2f2 !important;
    }
.listtable div.dataTables_wrapper div.dataTables_info {
    margin-left: 20px;
}
.listtable div.dataTables_wrapper div.dataTables_paginate {
    margin-right: 20px;
}


.listtable .table td {
    padding: 3px !important;
    white-space:nowrap;
}
    .listtable .table td.adbtn {
        padding: 0px !important;
    }
.label-default {
    color: #797979;
}
.additemtable .form-control {
    border: 0px none !important;
    color:inherit !important;
}
.additemtable.table input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
}

.additemtable.table input::-moz-placeholder { /* Firefox 19+ */
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
}

.additemtable.table input:-ms-input-placeholder { /* IE 10+ */
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
}

.additemtable.table input:-moz-placeholder { /* Firefox 18- */
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
}
.additemtable.table td {
    padding: 0px !important;
}
    .additemtable.table td .btndeleterow {
        border: 0px none !important;
        height: 35px;
        /* vertical-align: middle; */
        padding: 0px;
        line-height: 35px;
        width: 35px;
    }
.additemtable.table td input {
    padding: 1px 5px !important;
    border:0px none !important;
}
    .additemtable.table td.item_description input{
        width:200px
    }

.additemtable .select2-container {    
    width: 100% !important;
}
.select2-container--default .select2-selection--single {
    border-color:#dfdfdf;
    border-radius: 0px;
    width: 100%;
    height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
       color: inherit;
       line-height: 38px;
 }

.additemtable .select2-container--default .select2-selection--single {    
    border: 0px none;
    border-radius: 0px;
    width: 100%;
    height: 35px;
}
.additemtable .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: inherit;
    line-height: 35px;
}
.additemtable.table td .btnadditem {
    color: #333;
    font-size: 12px;
    position: relative;    
    padding: 0 5px;    
    vertical-align: text-bottom; 
    margin: 0;
}
.input-group .input-group-addon .checkbox label::after {
    top: 2px;    
}
.select2-container {
    width:100% !important;
}
.load-bar {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #fdba2c;
}

.bar {
    content: "";
    display: inline;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    text-align: center;
}

    .bar:nth-child(1) {
        background-color: #da4733;
        animation: loading 3s linear infinite;
    }

    .bar:nth-child(2) {
        background-color: #3b78e7;
        animation: loading 3s linear 1s infinite;
    }

    .bar:nth-child(3) {
        background-color: #fdba2c;
        animation: loading 3s linear 2s infinite;
    }

@keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100;
    }

    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10;
    }

    to {
        left: 0;
        width: 100%;
    }
}
/*! jquery-ui autocomplete bootsrap theming - Massimo Cassandro 2014 */
ul.bs-autocomplete-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    z-index: 9999;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
}

    ul.bs-autocomplete-menu a {
        font-weight: normal;
        color: #333333;
    }

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-state-active,
.ui-state-focus {
    color: #23527c;
    background-color: #eeeeee;
}

.bs-autocomplete-feedback {
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    margin-top: .5em;
    margin-right: .5em;
}

.acloader {
    font-size: 10px;
    text-indent: -9999em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #333;
    background: -moz-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #333333 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.acloader:before {
    width: 50%;
    height: 50%;
    background: #333;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.acloader:after {
    background: #fff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 60%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
    left: -60%;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -60%;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}
.gstrsummary3B .table tr td:not(:first-child) {
    padding: 0px;
}

.gstrsummary3B .table tr td .form-control, .gstrsummary3B .table tr td .select2-container--default .select2-selection--single {
    border: 0px none;
}

.gstrsummary3B .table tr td .btnadditem {
    color: #333;
    font-size: 12px;
    position: relative;
    padding: 0 5px;
    vertical-align: text-bottom;
    margin: 0;
}
.gstrsummary3B .table.tbl3b3-1 thead th {
    background-color: #ab8ce4 !important;
    color: #fff;
    font-size: 13px;
    text-align: center;
}
.gstrsummary3B .table.tbl3b3-2 thead th {
    background-color: rgba(171, 140, 228, 0.75) !important;
    color: #fff;
    font-size: 13px;
    text-align: center;
}
.gstrsummary3B .table.tbl3b3-4 thead th {
    background-color: #fb9678 !important;
    color: #fff;
    font-size: 13px;
    text-align: center;
}
.gstrsummary3B .table td .form-control {
    background-color: #fdf7ea;
}
.gstrsummary3B .form-control[disabled], .gstrsummary3B .form-control[readonly], .gstrsummary3B fieldset[disabled] .form-control {
    background-color: #eee !important;
    opacity: 1;
}
.gstrsummary3B .select2-container--default .select2-selection--single {
    background-color: #fdf7ea;    
}
.gstrsummary3B .select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee !important;    
}
.heading3b{
    border-bottom:0px none;
}
.wrap {
    white-space: nowrap !important;
}
.nowrap{
    white-space:normal !important;
}
.nowraptd tr td{
    white-space: normal !important;
}
.accordeway {
    position:relative;
}
.accordeway:hover {
    background-color: #f8e1b0 !important;
}
    .accordeway::before {
        position: absolute;
        content: "\f104";
        transform: rotate(-90deg);
        text-align: center;
        right: 30px;
        font: normal normal normal 14px/1 FontAwesome;
        top:40%;
        height:100%;
    }
     